.outerContainer {
  display: flex;
}

.innerContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.connectContainer {
  display: flex;
  overflow: hidden;
  margin-right: 5px;
}

.connect {
  transform: translateX(20px);
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  transition: transform 0.1s linear;
}

.connected {
  transform: translateX(0);
}

.toggleContainer {
  margin-left: 8px;
}
